.cart_item {
  display: flex;
  background-color: #f2f2f2;
  border: 1px solid #717171;
  border-radius: 3px;
  margin-bottom: 1.4rem;
}
.cart_item_info {
  width: 100%;
  padding: 15px;
  background: #efefef;
}
.cart_item_title {
  height: 28px;
  font-family: blink-reg;
  font-size: 24px;
}
.cart_item_price {
  font-family: blink-semi;
  font-size: 24px;
}
.cart_item_top {
  display: flex;
  justify-content: space-between;
}
.cart_item_img {
  background-color: #fff;
}
.cart_item_img img {
  width: 125px;
  height: 100%;
  object-fit: cover;
}
.cart_item_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}
.cart_item_quantity {
  display: flex;
}
.cart_quantity_block {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  user-select: none;
}
.cart_quantity_block:not(.cart_quantity_block:nth-child(2)) {
  background-color: #000;
  color: #fff;
  font-family: arial-reg;
  font-size: 20px;
  cursor: pointer;
}
.cart_quantity_block:nth-child(2) {
  font-family: blink-reg;
  font-size: 18px;
}
.cart_item_remove {
  cursor: pointer;
  font-size: 1.5rem;
}

@media (max-width: 500px) {
  .cart_item {
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
    margin-bottom: 2rem;
  }
  .cart_item_img{
    width: 100%;
  }
  .cart_item_img img {
    width: 100%;
  }
  .cart_item_title{
    width: 100%;
    text-align: center;
    font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (435 - 320)));
    margin: 0 auto;
  }
  .cart_item_info {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .cart_item_price {
    position: absolute;
    left: 15px;
    bottom: 10px;
  }
  .cart_item_bottom {
    flex-direction: column;
    margin: 1rem 0 3rem 0;
  }
  .cart_item_remove {
    position: absolute;
    right: 15px;
    bottom: 10px;
  }
}
@media (max-width: 450px){
  .cart_item{
    width: 85%;
  }
}
@media (max-width: 376px) {
  .cart_item{
    width: 70%;
  }
}