.navigation {
  max-width: 1200px;
  margin: 0 auto 70px auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.navigation a {
  color: #000;
  font-family: arial-reg;
  font-size: 13.333px;
  padding: 6px 16px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
}
.navigation a:hover {
  border: 2px solid rgba(0, 0, 0, 0.5);
}
