.navigation {
  max-width: 1160px;
  margin: 0 auto 70px auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.navigation a {
  color: #000;
  font-family: arial-reg;
  font-size: 13.333px;
  padding: 6px 16px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
}
.navigation a:hover {
  border: 2px solid rgba(0, 0, 0, 0.5);
}

@media (max-width: 391px) {
  .navigation a{
    padding: 6px 12px;
  }
}
@media (max-width: 376px) {
  .navigation a{
    padding: 6px 11px;
  }
}