.hero {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  margin-top: 13px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 13px;
}

.hero_block {
  height: 243px;
  text-decoration: none;
  background-position: center;
  background-size: cover;
}
.hero_block_title {
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  align-items: flex-end;
  font-family: blink-semi;
  font-size: 38px;
  padding: 19px;
  background: rgba(0, 0, 0, 0.3);
  transition: background 0.4s;
  &:hover {
    background: rgba(0, 0, 0, 0.5);
  }
}

.hero_block:first-child {
  height: auto;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  background-image: url(../../../assets/img/img1.png);
}
.hero_block:nth-child(2) {
  height: auto;
  grid-row: 1 / 3;
  background-image: url(../../../assets/img/img2.png);
}
.hero_block:nth-child(3) {
  background-image: url(../../../assets/img/img3.png);
}
.hero_block:nth-child(4) {
  background-image: url(../../../assets/img/img4.png);
}

@media (max-width: 751px) {
  .hero {
    grid-template-columns: 1fr 1fr;
  }
  .hero_block:first-child {
    height: 243px;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }
  .hero_block:nth-child(2) {
    grid-row: 1 / 1;
  }
  .hero_block_title {
    font-size: calc(24px + (38 - 24) * ((100vw - 320px) / (750 - 320)));
  }
}
@media (max-width: 430px) {
  .hero_block_title {
    font-size: calc(20px + (26 - 20) * ((100vw - 320px) / (430 - 320)));
  }
  .hero_block_title {
    padding: 0 5px 10px 5px;
  }
}
