.banner {
  max-width: 1200px;
  margin: 100px auto;
  padding: 0 20px;
}
.banner_content {
  display: flex;
  background: #e9e9e9;
}
.banner_left {
  width: 50%;
  padding: calc(5rem + (7 - 5) * ((100vw - 320px) / (1200 - 320)));
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner_left_title {
  color: #000;
  font-family: blink-semi;
  font-size: 32px;
  margin-bottom: 15px;
}
.banner_left_desc {
  /* width: 75%; */
  color: #000;
  font-family: blink-reg;
  font-size: 18px;
  margin-bottom: 29px;
}
.banner_left_btn a {
  color: #fff;
  font-family: arial-bold;
  font-size: 17px;
  padding: 12px;
  text-transform: uppercase;
  border: 2px solid #000;
  background: #000;
  transition: all 0.15s;
}
.banner_left_btn a:hover {
  background: transparent;
  color: #000;
}
.banner_right {
  width: 50%;
  overflow: hidden;
}
.banner img {
  width: 100%;
  height: 100%;
}

@media (max-width: 940px) {
  .banner_left_title {
    font-size: 28px;
  }
  .banner_left {
    padding: calc(4rem + (6 - 4) * ((100vw - 320px) / (940 - 320)));
  }
}
@media (max-width: 750px) {
  .banner_left {
    padding: 5rem 2rem;
  }
}
@media (max-width: 600px) {
  .banner_left{
    width: 100%;
    padding-top: calc(3rem + (7 - 3) * ((100vw - 320px) / (600 - 320)));
    padding-bottom: calc(3rem + (7 - 3) * ((100vw - 320px) / (600 - 320)));
    padding-left: calc(1rem + (3 - 1) * ((100vw - 320px) / (600 - 320)));
    padding-left: calc(1rem + (3 - 1) * ((100vw - 320px) / (600 - 320)));
  }
  .banner_right {
    display: none;
  }
  .banner_left_title {
    font-size: 32px;
  }
}